body {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    color: #333333;
    margin: 20px 50px;
}
h1, h2 {
    font-weight: 400;
    text-align: center;
}
h1 {
    margin: 20px 0px 0px 0px;
    font-size: 36pt;
}
h3 {
    font-weight: 400;
    font-size: 18pt;
    margin: 0px;
}
.main {
    margin: auto;
    min-width: 800px;
    max-width: 904px;
}
h2 {
    margin: 10px 0px;
    font-size: 16pt;
}
.intro {
    display: flex;
}
.intro .image {
    padding: 50px 10px 0px 10px;

}
p {
    text-align: justify;
}
.intro .text {
    padding: 10px 10px 0px 10px;
    line-height: 18px;
    text-align: justify;
}
a.button {
    display:inline-block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 6px;
    background-image: -moz-linear-gradient(top,#33bb60,#33bb60);
    background-image: -webkit-linear-gradient(top,#33bb60,#33bb60);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#33bb60), color-stop(100%,#33bb60));
    background-image: -o-linear-gradient(top,#33bb60,#33bb60);
    background-image: linear-gradient(to bottom,#33bb60,#33bb60);
    border: 1px solid #33bb60;
}
a:visited {
    color: black;
}
a.button:visited {
    color: white;
    text-decoration: none;
}
li {
    margin: 4px 0px;
}